html {
  font-size: 12px;
}
body {
  font-size: 1.2rem;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 5px;
}

button {
  font-size: 1.2rem;
  line-height: 150%;
  margin: 2px;
}

table { width: 100%; }
tr, td {
  font-size: 1.0rem;
  line-height: 150%;
  padding: 0px;
}
td.hr {
  border-style: none none solid none;
  border-width: 0px 0px 1px 0px; border-bottom-color: #ffffff;
}
#contentArea {
  font-size: 1.2rem;
  overflow-x: hidden;
}
.content {
  font-size: 1.2rem;
}
a {
  color: #ffff00;
}

/*
フィルタメニュー
*/

.filter {
  max-height: 100%;
  overflow: scroll;
}

.filter .condition-group {
  border: 1px solid #ffffff;
  width: available;
  margin-bottom: 5px;
  padding: 5px;
  line-height: 150%;
}
.filter .element {
  white-space: nowrap;
}
.filter a {
  cursor: pointer;
}
.filter select {
  height: 2em;
}

/*
機能メニュー
*/

.menu {
  max-height: 100%;
  overflow: scroll;
}

.menu .function-group {
  border: 1px solid #ffffff;
  width: available;
  margin-bottom: 5px;
  padding: 5px;
  line-height: 150%;
}
