<html>
<head>
  <meta charset="utf-8">
  <script src="../lib/vue.js"></script>
  <script src="../lib/jquery-3.4.1.min.js"></script>
  <script src="../common/const.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

  <div id="app-charts" class="content">
    <template v-if="statistics.fullComboType.marvelous_fc > 0">MFC:{{ statistics.fullComboType.marvelous_fc }}</template>
    <template v-if="statistics.fullComboType.perfect_fc > 0">PFC:{{ statistics.fullComboType.perfect_fc }}</template>
    <template v-if="statistics.fullComboType.great_fc > 0">FC:{{ statistics.fullComboType.great_fc }}</template>
    <template v-if="statistics.fullComboType.good_fc > 0">GFC:{{ statistics.fullComboType.good_fc }}</template>
    <template v-if="statistics.fullComboType.clear > 0">Clear:{{ statistics.fullComboType.clear }}</template>
    <template v-if="statistics.fullComboType.failed > 0">Failed:{{ statistics.fullComboType.failed }}</template>
    <template v-if="statistics.fullComboType.no_play > 0">NoPlay:{{ statistics.fullComboType.no_play }}</template>
    <table>
      <template v-for="chart in charts">
        <tr>
          <td class="level" v-bind:class="{ beginner: chart.difficulty == 0, basic: chart.difficulty == 1, difficult: chart.difficulty == 2, expert: chart.difficulty == 3, challenge: chart.difficulty == 4 }">
            {{ chart.level }}<template v-if="chart.playMode == 0">&#39;</template><template v-if="chart.playMode == 1">&quot;</template>
          </td>
          <td class="title">{{ chart.title }}</td>
          <template v-if="chart.scoreRank == 0">
            <td class="score_rank"></td>
          </template>
          <template v-if="chart.scoreRank == 1">
            <td class="score_rank rank_e">E</td>
          </template>
          <template v-if="chart.scoreRank == 2">
            <td class="score_rank rank_d">D</td>
          </template>
          <template v-if="chart.scoreRank == 3">
            <td class="score_rank rank_d">D+</td>
          </template>
          <template v-if="chart.scoreRank == 4">
            <td class="score_rank rank_c">C-</td>
          </template>
          <template v-if="chart.scoreRank == 5">
            <td class="score_rank rank_c">C</td>
          </template>
          <template v-if="chart.scoreRank == 6">
            <td class="score_rank rank_c">C+</td>
          </template>
          <template v-if="chart.scoreRank == 7">
            <td class="score_rank rank_b">B-</td>
          </template>
          <template v-if="chart.scoreRank == 8">
            <td class="score_rank rank_b">B</td>
          </template>
          <template v-if="chart.scoreRank == 9">
            <td class="score_rank rank_b">B+</td>
          </template>
          <template v-if="chart.scoreRank == 10">
            <td class="score_rank rank_a">A-</td>
          </template>
          <template v-if="chart.scoreRank == 11">
            <td class="score_rank rank_a">A</td>
          </template>
          <template v-if="chart.scoreRank == 12">
            <td class="score_rank rank_a">A+</td>
          </template>
          <template v-if="chart.scoreRank == 13">
            <td class="score_rank rank_aa">AA-</td>
          </template>
          <template v-if="chart.scoreRank == 14">
            <td class="score_rank rank_aa">AA</td>
          </template>
          <template v-if="chart.scoreRank == 15">
            <td class="score_rank rank_aa">AA+</td>
          </template>
          <template v-if="chart.scoreRank == 16">
            <td class="score_rank rank_aaa">AAA</td>
          </template>
          <td class="full_combo_type" v-bind:class="{ good_fc: chart.fullComboType == 1, great_fc: chart.fullComboType == 2, perfect_fc: chart.fullComboType == 3, marvelous_fc: chart.fullComboType == 4 }"><template v-if="chart.fullComboType > 0">○</template></td>
          <td class="score">{{ chart.score.toLocaleString() }}</td>
        </tr>
        <tr>
          <td colspan="5" class="hr"></td>
        </tr>
      </template>
    </table>
  </div>

  <button id="dumpMusicListButton" type="button" name="dumpMusicList">楽曲リストを出力</button>
  <textarea id="textarea" style="width:100%" rows="10">
  </textarea>

  <hr>
  <button id="updateParsedMusicListButton" type="button" name="updateParsedMusicList">パース済の曲リストを取得</button>
  <button id="updateMusicListButton" type="button" name="updateMusicList">公式から曲リストを取得</button>
  <button id="updateMusicList2Button" type="button" name="updateMusicList2">スコアリストにあって曲リストにない曲の情報を公式から取得</button>
  <button id="updateSingleScoreListButton" type="button" name="updateSingleScoreList">スコアリストを公式から取得 (SP)</button>
  <button id="updateDoubleScoreListButton" type="button" name="updateDoubleScoreList">スコアリストを公式から取得 (DP)</button>
  <button id="updateScoreDetailButton" type="button" name="updateScoreDetail">スコア詳細を公式から取得</button>
  <button id="updateChartsButton" type="button" name="updateCharts">update charts</button>
  <button id="refreshListButton" type="button" name="refreshList">refresh list</button>
  <textarea id="filterConditions" style="width:100%" rows="10">
    [
      { attribute: 'playMode', values: [ PLAY_MODE.DOUBLE ] },
      { attribute: 'level', values: [ 17 ] }
    ]
  </textarea>
  <div id="app-log">
    <template v-for="line in log">
        {{ line }} <br>
    </template>
  </div>

  <a href="index.html">戻る</a>
</body>
<script src="logReceiver.js"></script>
<script src="main.js"></script>
<script src="debug.js"></script>
</html>
