<html>
<head>
  <meta charset="utf-8">
  <title>DDR Score Tracker</title>
  <script src="../lib/vue.js"></script>
  <script src="../lib/jquery-3.4.1.min.js"></script>
  <script src="../common/const.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div id="contentArea">
    <div id="openMenuButton" class="drawer-switch">&lt;&lt;Menu</div>
    <div id="openFilterButton" class="drawer-switch">&lt;&lt;Filter</div>

    <div id="drawerBackground" class="drawer-background"></div>

    <div id="filterContainer" class="drawer filter">
      <div class="condition-group">
        ゲームモード
        <div>
          <span class="element"><input type="checkbox" id="filterCondition_playMode_0" name="playMode" value="0" /><label for="filterCondition_playMode_0">SP</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_playMode_1" name="playMode" value="1" /><label for="filterCondition_playMode_1">DP</label></span>
        </div>
      </div>
      <div class="condition-group">
        難易度
        <div>
          <span class="element"><input type="checkbox" id="filterCondition_difficulty_0" name="difficulty" value="0" /><label for="filterCondition_difficulty_0">Beginner</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_difficulty_1" name="difficulty" value="1" /><label for="filterCondition_difficulty_1">Basic</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_difficulty_2" name="difficulty" value="2" /><label for="filterCondition_difficulty_2">Difficult</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_difficulty_3" name="difficulty" value="3" /><label for="filterCondition_difficulty_3">Expert</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_difficulty_4" name="difficulty" value="4" /><label for="filterCondition_difficulty_4">Challenge</label></span>
        </div>
      </div>
      <div class="condition-group">
        レベル
        <div>
        <span class="element"><input type="checkbox" id="filterCondition_level_1" name="level" value="1" /><label for="filterCondition_level_1">Level 1</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_2" name="level" value="2" /><label for="filterCondition_level_2">Level 2</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_3" name="level" value="3" /><label for="filterCondition_level_3">Level 3</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_4" name="level" value="4" /><label for="filterCondition_level_4">Level 4</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_5" name="level" value="5" /><label for="filterCondition_level_5">Level 5</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_6" name="level" value="6" /><label for="filterCondition_level_6">Level 6</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_7" name="level" value="7" /><label for="filterCondition_level_7">Level 7</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_8" name="level" value="8" /><label for="filterCondition_level_8">Level 8</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_9" name="level" value="9" /><label for="filterCondition_level_9">Level 9</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_10" name="level" value="10" /><label for="filterCondition_level_10">Level 10</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_11" name="level" value="11" /><label for="filterCondition_level_11">Level 11</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_12" name="level" value="12" /><label for="filterCondition_level_12">Level 12</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_13" name="level" value="13" /><label for="filterCondition_level_13">Level 13</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_14" name="level" value="14" /><label for="filterCondition_level_14">Level 14</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_15" name="level" value="15" /><label for="filterCondition_level_15">Level 15</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_16" name="level" value="16" /><label for="filterCondition_level_16">Level 16</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_17" name="level" value="17" /><label for="filterCondition_level_17">Level 17</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_18" name="level" value="18" /><label for="filterCondition_level_18">Level 18</label></span>
        <span class="element"><input type="checkbox" id="filterCondition_level_19" name="level" value="19" /><label for="filterCondition_level_19">Level 19</label></span>
        </div>
      </div>
      <div class="condition-group">
        フルコンボ・クリア種別
        <div>
          <span class="element"><input type="checkbox" id="filterCondition_clearType_8" name="clearType" value="8" /><label for="filterCondition_clearType_8">MFC</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_clearType_7" name="clearType" value="7" /><label for="filterCondition_clearType_7">PFC</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_clearType_6" name="clearType" value="6" /><label for="filterCondition_clearType_6">FC</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_clearType_5" name="clearType" value="5" /><label for="filterCondition_clearType_5">GFC</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_clearType_4" name="clearType" value="4" /><label for="filterCondition_clearType_4">LIFE4</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_clearType_3" name="clearType" value="3" /><label for="filterCondition_clearType_3">Clear</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_clearType_2" name="clearType" value="2" /><label for="filterCondition_clearType_2">AssistClear</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_clearType_1" name="clearType" value="1" /><label for="filterCondition_clearType_1">Failed</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_clearType_0" name="clearType" value="0" /><label for="filterCondition_clearType_0">NoPlay</label></span>
        </div>
      </div>
      <div class="condition-group">
        スコアランク
        <div>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_16" name="scoreRank" value="16" /><label for="filterCondition_scoreRank_16">AAA</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_15" name="scoreRank" value="15" /><label for="filterCondition_scoreRank_15">AA+</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_14" name="scoreRank" value="14" /><label for="filterCondition_scoreRank_14">AA</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_13" name="scoreRank" value="13" /><label for="filterCondition_scoreRank_13">AA-</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_12" name="scoreRank" value="12" /><label for="filterCondition_scoreRank_12">A+</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_11" name="scoreRank" value="11" /><label for="filterCondition_scoreRank_11">A</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_10" name="scoreRank" value="10" /><label for="filterCondition_scoreRank_10">A-</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_9" name="scoreRank" value="9" /><label for="filterCondition_scoreRank_9">B+</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_8" name="scoreRank" value="8" /><label for="filterCondition_scoreRank_8">B</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_7" name="scoreRank" value="7" /><label for="filterCondition_scoreRank_7">B-</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_6" name="scoreRank" value="6" /><label for="filterCondition_scoreRank_6">C+</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_5" name="scoreRank" value="5" /><label for="filterCondition_scoreRank_5">C</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_4" name="scoreRank" value="4" /><label for="filterCondition_scoreRank_4">C-</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_3" name="scoreRank" value="3" /><label for="filterCondition_scoreRank_3">D+</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_2" name="scoreRank" value="2" /><label for="filterCondition_scoreRank_2">D</label></span>
          <span class="element"><input type="checkbox" id="filterCondition_scoreRank_1" name="scoreRank" value="1" /><label for="filterCondition_scoreRank_1">E</label></span>
        </div>
      </div>
      <div class="condition-group">
        ソート
        <div>
          <span class="element"><input type="radio" id="sortCondition_attribute_score" name="sortCondition_attribute" value="score"/><label for="sortCondition_attribute_score">スコア</label></span>
          <span class="element"><input type="radio" id="sortCondition_attribute_title" name="sortCondition_attribute" value="title"/><label for="sortCondition_attribute_title">曲名</label></span>
          <span class="element"><input type="radio" id="sortCondition_attribute_level" name="sortCondition_attribute" value="level"/><label for="sortCondition_attribute_level">レベル</label></span>
          <span class="element"><input type="radio" id="sortCondition_attribute_playCount" name="sortCondition_attribute" value="playCount"/><label for="sortCondition_attribute_playCount">プレイ回数</label></span>
          <span class="element"><input type="radio" id="sortCondition_attribute_clearCount" name="sortCondition_attribute" value="clearCount"/><label for="sortCondition_attribute_clearCount">クリア回数</label></span>
          <span class="element"><input type="radio" id="sortCondition_attribute_maxCombo" name="sortCondition_attribute" value="maxCombo"/><label for="sortCondition_attribute_maxCombo">コンボ数</label></span>
        </div>
        <div>
          <span class="element"><input type="radio" id="sortCondition_order_asc" name="sortCondition_order" value="asc"/><label for="sortCondition_order_asc">▲昇順</label></span>
          <span class="element"><input type="radio" id="sortCondition_order_desc" name="sortCondition_order" value="desc"/><label for="sortCondition_order_desc">▼降順</label></span>
        </div>
      </div>
      <div>
        <button id="closeFilterButton" type="button" name="refreshList2" class="drawer-close-button">更新</button>
      </div>
    </div>

    <div id="menuContainer" class="drawer menu">
      <div class="function-group">
        <button id="updateScoreDetailButton" type="button" name="updateScoreDetail">スコア詳細を公式から取得</button>
      </div>
      <div>
        <button id="closeMenuButton" type="button" class="drawer-close-button">閉じる</button>
        <a href="debug.html">デバッグページ</a>
      </div>
    </div>

    <div id="logContainer" class="drawer log">
      <div id="closeLogButton" class="drawer-switch">■閉じる</div>
      <div id="flushLogButton" class="drawer-switch">■クリア</div>
      <div id="app-log" class="log-data">
        <template v-for="line in log">
            {{ line }} <br>
        </template>
      </div>
      <div id="closeLogButton2" class="drawer-switch">■閉じる</div>
      <div id="flushLogButton2" class="drawer-switch">■クリア</div>
    </div>

    <div id="app-charts" class="content">
      <template v-if="charts.length > 0">
        <template v-for="item in statistics.clearType">
          <template v-if="item.count > 0">
            {{ item.clearTypeString }}:{{ item.count }}
          </template>
        </template>
        <div class="graph">
          <div class="inner"><template v-for="item in statistics.clearType"><template v-if="item.count > 0"><span v-bind:class="[ 'element', item.clearTypeClassString ]" v-bind:style="{ width: 'calc(' + item.count + ' / ' + charts.length + ' * 100%'}"></span></template></template></div>
        </div>
      </template>

      <div v-if="maxPage > 1" class="pager">
        <template v-for="index of maxPage">
          <a v-if="index == currentPage" v-bind:class="[ 'element', 'current' ]">[{{ index }}]</a><a v-if="index != currentPage" v-on:click="gotoPage(index)" v-bind:class="[ 'element', 'link' ]">[{{ index }}]</a>
        </template>
      </div>

      <div class="score_list">
        <template v-for="chart in pageCharts">
          <div v-bind:class="[ 'level', chart.difficultyClassString ]">{{ chart.level }}{{ chart.playModeSymbol }}</div>
          <div class="title">{{ chart.title }}</div>
          <div class="clear_count"><template v-if="chart.clearCount !== null">{{ chart.clearCount }}/</template></div>
          <div class="play_count"><template v-if="chart.playCount !== null">{{ chart.playCount }}</template></div>
          <div v-bind:class="[ 'score_rank', chart.scoreRankClassString ]">{{ chart.scoreRankString }}</div>
          <div v-bind:class="[ 'full_combo_type', chart.clearTypeClassString ]">{{ chart.fullComboSymbol }}</div>
          <div class="score">{{ chart.scoreString }}</div>
          <div class="max_combo"><template v-if="chart.maxCombo !== null">/{{ chart.maxCombo }}</template></div>
        </template>
      </div>

      <div v-if="maxPage > 1" class="pager">
        <template v-for="index of maxPage">
          <a v-if="index == currentPage" v-bind:class="[ 'element', 'current' ]">[{{ index }}]</a><a v-if="index != currentPage" v-on:click="gotoPage(index)" v-bind:class="[ 'element', 'link' ]">[{{ index }}]</a>
        </template>
      </div>

    </div>
  </div>
</body>
<script src="logReceiver.js"></script>
<script src="logContainer.js"></script>
<script src="main.js"></script>
<script src="filter.js"></script>
<script src="menu.js"></script>
</html>
