html { font-size: 12px }
body { background-color: #000000; color: #ffffff; width: 480px; font-size: 1.0rem }
table { width: 100% }
tr, td {
  font-size: 1.0rem;
  line-height: 150%;
  padding: 2px;
  border-style: none none solid none;
  border-width: 0px 0px 1px 0px; border-bottom-color: #ffffff
 }

.level { font-family: monospace; }
.score_rank { font-family: monospace; }
.full_combo_type { font-family: monospace; }
.score { text-align: right; font-family: monospace; }

.beginner { color: #00ffff }
.basic { color: #ff8800 }
.difficult { color: #ff4444 }
.expert { color: #00ff00 }
.challenge { color: #ff00ff }

.rank_aaa { color: #ffffff }
.rank_aa { color: #ffffaa }
.rank_a { color: #ffff00 }
.rank_b { color: #0088ff }
.rank_c { color: #ff00ff }
.rank_d { color: #ff0000 }
.rank_e { color: #bbbbbb }

.good_fc { color: #0088ff }
.great_fc { color: #00ff00 }
.perfect_fc { color: #ffff00 }
.marvelous_fc { color: #ffffff }
