html {
  font-size: 12px;
}
body {
  font-size: 1.2rem;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 5px;
}

button {
  font-size: 1.2rem;
}

table { width: 100%; }
tr, td {
  font-size: 1.0rem;
  line-height: 150%;
  padding: 0px;
}
td.hr {
  border-style: none none solid none;
  border-width: 0px 0px 1px 0px; border-bottom-color: #ffffff;
}
#contentArea {
  font-size: 1.2rem;
  overflow-x: hidden;
}
.content {
  font-size: 1.2rem;
}
a {
  color: #ffff00;
}

/*
フィルタメニュー
*/

.filter-switch {
  position: absolute;
  font-size: 1.2rem;
  color: #ffff00;
  top: 0;
  right: 0;
  cursor: pointer;
}
.filter {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #000000;
  border: 1px solid #ffffff;
  padding: 5px;
  transition: all 0.3s ease-in-out 0s;
  transform: translateX(100%);
}
.filter.active {
  transform: translateX(0);
}
.filter .condition-group {
  border: 1px solid #ffffff;
  width: available;
  margin-bottom: 5px;
  padding: 5px;
  line-height: 150%;
}
.filter .element {
  white-space: nowrap;
}
.filter-background {
  z-index: 9;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.filter-background.active {
  visibility: visible;
  opacity: 0.6;
}

/*
進捗グラフ
*/

.graph {
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  padding: 2px;
  border: 1px solid #ffffff;
}
.graph .inner {
  box-sizing: border-box;
  height: 100%;
}
.graph .element {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
}
.graph .element.no_play { background-color: #888888 }
.graph .element.failed { background-color: #883300 }
.graph .element.assist_clear { background-color: #8000ff }
.graph .element.clear { background-color: #ff8800 }
.graph .element.life4 { background-color: #ff0000 }
.graph .element.good_fc { background-color: #0088ff }
.graph .element.great_fc { background-color: #00ff00 }
.graph .element.perfect_fc { background-color: #ffff00 }
.graph .element.marvelous_fc { background-color: #ffffff }

/*
ロガー
*/

.log-switch {
  float: right;
  font-size: 1.2rem;
  color: #ffff00;
  margin-left: 10px;
  cursor: pointer;
}
.log {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border: 1px solid #ffffff;
  padding: 5px;
  transition: all 0.3s ease-in-out 0s;
  transform: translateX(100%);
  overflow: scroll;
}
.log.active {
  transform: translateX(0);
}
.log-data {
  clear: right;
}

/*
スコアリストのグリッド表示
*/

.score_list {
  display: grid;
  grid-template-columns: minmax(1px, max-content) auto minmax(1px, max-content) minmax(1px, max-content) minmax(1px, max-content)
}

.score_list > div {
  border-bottom: 1px solid #ffffff;
  white-space: nowrap;
  padding: 2px;
}
.score_list > .level {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold
}
.score_list > .title {
  font-size: 1.0rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.score_list > .score_rank {
  font-size: 1.2rem;
  font-weight: bold
}
.score_list > .full_combo_type {
  font-size: 1.2rem; font-weight: bold
}
.score_list > .score {
  text-align: right;
  font-family: monospace;
  font-size: 1.0rem
}

.beginner { color: #00ffff }
.basic { color: #ff8800 }
.difficult { color: #ff4444 }
.expert { color: #00ff00 }
.challenge { color: #ff00ff }

.rank_aaa { color: #ffffff }
.rank_aa { color: #ffffaa }
.rank_a { color: #ffff00 }
.rank_b { color: #0088ff }
.rank_c { color: #ff00ff }
.rank_d { color: #ff0000 }
.rank_e { color: #bbbbbb }

.good_fc { color: #0088ff }
.great_fc { color: #00ff00 }
.perfect_fc { color: #ffff00 }
.marvelous_fc { color: #ffffff }
