#wrap {
  width: 480px;
  margin: 0 auto;
  margin-top: 10px;
}

.tab {
  height: 40px;
  padding: 0 15px;
  border-bottom: 4px solid white;
  line-height: 40px;
  text-align: center;
  font-size: 20pt;
  float: left;
  cursor: pointer;
}

.selected {
  background-color: white;
  color: black;
  border: none;
}

#container {
  position: relative;
  width: 480px;
  height: 480px;
  overflow-x: hidden;
  overflow-y: scroll;
  clear: left;
}

.box {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  width: 480px;
  /*height: 200px;*/

  /*line-height: 200px;*/
  text-align: center;
  font-size: 28pt;
  cursor: pointer;
}

#tab-content-0 {
  top: 0px;
  left: 0px;
}

#tab-content-1 {
  top: 0px;
  left: 480px;
}

#tab-content-2 {
  top: 0px;
  left: 960px;
}

#tab-content-3 {
  top: 0px;
  left: 1440px;
}

#slide {
  transition: transform 0.3s ease-in-out 0s;
  -moz-transition: -moz-transform 0.3s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
}

.move-to-0 {
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.move-to-1 {
  transform: translateX(-480px);
  -moz-transform: translateX(-480px);
  -webkit-transform: translateX(-480px);
}

.move-to-2 {
  transform: translateX(-960px);
  -moz-transform: translateX(-960px);
  -webkit-transform: translateX(-960px);
}

.move-to-3 {
  transform: translateX(-1440px);
  -moz-transform: translateX(-1440px);
  -webkit-transform: translateX(-1440px);
}

.hidden {
  display: none;
}
